/* The asterics stands for all HTML elements */
* {
  box-sizing: border-box;
}

/* Colors used:
Primary color (Fire Brick): #a42922
Secondary color (Splash): #f2d39c
Tertiary color (Waikawa Grey): #647891
*/

body {
  background-color: #ffffff;
  font-family: 'Nunito', sans-serif;
  font-size: 16px; /* Sets the font size to 16 px */
  font-weight: 400; /* Sets the font weight to 400 */
  line-height: 1.6; /* Sets the line height to 1.6 multiplicated by the font size */
  color: #54524f; /* Sets the font color to Dune color */
}

/* To make sure images scale correctly */
img {
  width: 100%;
}

header {
  background-color: #a42922;
  padding: 10px 0 4px;
  box-shadow: 4px 4px 5px 0 rgba(52, 49, 50, 0.49);
  position: fixed;
  width: 100%;
}

/* Headlines */
h1,
h2,
h3,
h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2em;
  font-weight: 900;
  text-align: center;
  line-height: 1.7em !important;
}

h2 {
  font-size: 1.75em;
  font-weight: 700;
}

h3 {
  font-size: 1.45em;
  font-weight: 400;
}

h4 {
  font-size: 1em;
  font-weight: 400;
  color: #647891;
}

/* Hyperlinks */
a {
  color: #a42922;
  text-decoration: underline; /* Text decoration by default is underline, so no necessity to describe it here and below. */
}

a:visited {
  color: #a42922; /* Visited link best before hover state. Same color as parent. */
}

a:hover,
a:focus {
  color: #647891;
}

/* Selected link */
a:active {
  color: #647891;
}

/* Lists */
ul {
  padding: 0 16px;
}

nav ul,
footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Very specific rules must to go close to the bottom, in order to avoid overwriting */

/* Hyperlinks */
nav li a {
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 15px;
}

nav li a:visited {
  color: #ffffff;
}

nav li a:hover,
nav li a:focus {
  color: #ffffff;
}

nav li a:active {
  color: #ffffff;
}

/* Primary button */
.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block */
  background-color: #a42922;
  color: #ffffff !important; /* needed to override the default link color */
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-weight: 400;
  padding: 10px;
  margin: 10px 0;
  border-radius: 3px; /* for rounded corners */
  border-bottom: 2px solid #a42922; /* width of the border, type, color */
  transition: 0.2s opacity; /* Summarize all transition properties in one line to keep it short */
  width: 100%;
}

.button:hover,
.button:focus {
  opacity: 0.8; /* reduces the opacity of the button to 80% */
  color: #ffffff;
}

.button:active {
  border-radius: 5px;
}

/* Secondary button */
.button.contact {
  background-color: transparent;
  color: #a42922 !important; /* needed to override the default link color */
  text-transform: uppercase;
  border: 2px solid #a42922;
  width: auto;
  margin: 0 5px;
}

.button.contact:hover,
.button:focus {
  background-color: #a42922;
  color: #ffffff !important;
}

.button.contact:active {
  background-color: #a42922;
  color: #ffffff;
  border: 5px solid #a42922;
}

/* Layout styling */
.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #54524f;
}

#work .row:last-child {
  border-bottom: none;
}

.logo {
  max-width: 80px;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: 0;
}

.navtoggle,
.navtoggle.responsive {
  position: relative;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
  border-top: 1px solid;
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

footer ul li {
  display: inline-block;
}

#hero {
  background-color: #ffffff;
  color: #a42922;
  padding: 20px 0;
}

main {
  padding-top: 100px;
}

#hero span {
  display: block;
}

h1::first-line {
  text-transform: uppercase;
}

footer {
  padding-bottom: 25px;
  border-top: 3px solid #a42922;
  text-align: center;
}

footer .fab {
  font-size: 20px;
  margin: 10px;
}

/* Animated keyframes */
@keyframes color-change {
  0% { fill: #edc655; }
  50% { fill: #fcffad; }
  100% { fill: #f76414; }
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from { transform: translate(0, 50px); } /* Order of the values: first right-left; second top-down */
  to { transform: translate(200px, 50px); }
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from { transform: translate(446px, 48px); } /* Order of the values: first right-left; second top-down */
  to { transform: translate(100px, 48px); }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

/* Media queries */

/* For switch from small screens up to 640px (our original layout as mobile-first approach!) to medium screens up to 1024px */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  nav ul {
    margin: 1em 0;
  }

  nav ul li {
    display: inline-block;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  main {
    padding-top: 99px;
  }

  body {
    font-size: 18px;
  }

  h3 {
    margin-top: 0;
  }

  .button {
    padding: 10px 40px;
    margin: 25px 0;
    width: auto;
  }

  .button.contact {
    padding: 10px 40px;
    margin: 25px 0;
    width: auto;
  }

  .paragraph {
    max-width: 900px;
    margin: 10px auto;
  }

  /* To scale the columns according to the different screens sizes */
  [class*="col-"] {
    float: left;
    padding: 0 10px;
  }

  /* Set up columns according to web grid */
  .col-md-6 {
    width: 50%;
  }
}

/* For switch from medium screens up to 1024 px to large screens up to 1440px */
@media only screen and (min-width: 1024px) {
  .col-lg-6 {
    width: 100%;
  }

  .col-lg-7 {
    width: 60%;
  }

  .col-lg-5 {
    width: 40%;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* For switch from large screens up to 1440 px to extra large screens of 1441px and up */
@media only screen and (min-width: 1440px)

/* Rare for targeting people viewing on extra large screens (1920px or larger) */
@media only screen and (min-width: 1920px) {

}
